<form action="/posttasks" method="POST">
    Description: <input type="text" name="description">
    Completed: <input type="text " name ="completed">
    <button type="submit">Submit</button>
</form>